body {
  background-color: white;
}

h1 {
  font-size: 36px;
  font-family: Helvetica;
}

h2 {
  font-size: 40px;
  font-family: "Dancing Script";
}

label {
  font-size: 24px;
  font-family: Helvetica;
}

p {
  font-size: 20px;
  font-family: Helvetica;
}

* {box-sizing: border-box}

/* Icons */
.fa-grin-alt {
  color: white;
}
.fa-map-marker-alt {
  color:  #ff6699;
}
.fa-briefcase {
  color:   #39ac73;
}
.fa-linkedin {
  color:   #ff6699;
}
.fa-graduation-cap {
  color: #39ac73;
}
.fa-github {
  color: #39ac73;
}


.marginauto {
  margin: 0 auto;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .grid {
    flex-direction: column;
  }
}

.headername {
  position: absolute;
  font-size: 100px;
  font-family: "Dancing Script";
  left: 410px;
  top: 140px;
  font-weight: bold;
  z-index: 1;
  color: black;
}


.flex-container {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: blue;
  justify-content: center;
}

.name-box {
  position: absolute;
  left: 398px;
  top: 150px;
  height: 100px;
  width: 640px;
  border-style: solid;
  border-color: pink;
  border-width: 4px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  display: block;
  background-color: white;
  justify-content: center;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'links main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 5px;
  background-color: pink;
  padding: 5px;
}

.grid-container > div {
  background-color: pink;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.myheader {
  grid-area: header;
  background-image: url('/images/sakura.jpg');
  background-size: cover;
  height: 300px;

}

.menu {
  grid-area: menu;
  height: 70px;
  width: 30px;
}

.picture {
  grid-area: menu;
  background-image: url('/images/avatar.jpg');
  background-size: cover;
  height: 400px;
  width: 400px;
  position: absolute;
  left: 30px;
  top: 370px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}


.links {
  height: 400px;
  width: 400px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  display: block;
  background-color: white;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 790px;
  left: 30px;
  border-style: dotted;
  border-color: #39ac73;
  border-width: 4px;

}

.linksheader {
  font-size: 40px;
  text-decoration: underline;
  font-family: "Maven Pro";
}

.linksp {
  font-size: 25px;
  font-family: "Maven Pro";
}

.skillcontainer {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
}

.skillbox {
  grid-area: main;
  background-color: pink;
  position: absolute;
  top: 200px;
  left: 600px;
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}


.item4 { grid-area: right; }
.item5 { grid-area: footer; }
